[submodule "pack/syntax/start/vim-terraform"]
	path = pack/syntax/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugins/start/jsonnet"]
	path = pack/plugins/start/jsonnet
	url = https://github.com/google/vim-jsonnet
